body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  word-spacing: 1px;
  letter-spacing: 0.3px;
}
a {
	color: black;
  transition: 0.5s;
}
a:hover {
  color: #00b33c;
  outline: none;
  text-decoration: none;
}
/*-------back to top -------------*/

.back-to-top {
  position: fixed;
  background: #00b33c;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/*------------------Praloader-------------------*/

.preloader{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; 
    --n: 5;
    transition: 1s;
    background-color: black;
}
.dot{
    background: #00b33c;
    --i: 0;
}
.dot:nth-child(2){
    background: #00b33c;
    --i: 1;
}
.dot:nth-child(3){
    background: #00b33c;
    --i: 2;
}
.dot:nth-child(4){
    background: #00b33c;
    --i: 3;
}
.dot:nth-child(5){
    background: #00b33c;
    --i: 4;
}
.dot:after{
   --o: 1;
    background: #000;
    content: "";
}
.dot, .dot:after {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    animation: effect 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*1.5s) infinite;
}
@keyframes effect{
    0%, 50%{ transform: scale(0); }
}

/*--------header navbar---------------*/

#header{
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}
#header.navbar-scroll{
background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}
.nowrap{
	display: flex;
  padding-left: 60px;
}
.nowrap:hover{
	text-decoration: none;
}
.title-line{
	font-size: 37px;
	font-weight: 700;
	color: #00cc00;
}
.title-name{
	font-size: 37px;
	font-weight: 700;
	color: white;
	padding-top: 4px;
	padding-left: 15px;
	letter-spacing: 3px;
}
#nav-menu-icon{
  text-decoration: none;
	color: white;
  font-size: 28px;
}
#navbarSupportedContent{
  margin-right: 50px;
	text-align: center;
	margin-top: -15px;
}
.nav-item{
	padding-left: 20px;
}
.nav-link{
	color: white;
	font-size: 13.5px;
	letter-spacing: 1px;
	font-weight: 700;
	transition: 0.2s;
}
.nav-link:hover,.nav-item a.active{
	color: #18d26e;
	font-size: 14px;
	margin-top: -0.5px;
}
/*----------sidenav------------*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
	padding: 12px 0px 12px 30px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover,
.sidenav button:hover, 
.sidenav a.active {
  color: #00b33c;
  text-decoration: none;
}
.close-container{
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 100px;
  float: right;
  top: 0;
  bottom: -20px;
  right: 15px;
}

.leftright{
  cursor: pointer;
  height: 5px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  cursor: pointer;
  height: 5px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}
.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #00cc00;
}
.close-container:hover .rightleft{
  transform: rotate(-135deg);
  background-color: #00cc00;
}


/*------------home slideshow--------------*/
#home {
  background: #000;
}

#home .carousel-item {
  min-height: 300px;
  height: 100vh;
  transition: 0.5s;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

#home .carousel-inner img{
  height: 100%;
/*  width: auto;*/
	opacity: 0.3;
	/*background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;*/
}

#home .carousel-caption{
align-items: center; 
bottom: 240px;
}

#home .carousel-caption h1{
	font-weight: 650; 
	font-size: 50px;
}

#home .carousel-caption p{
	padding-top: 20px; 
  padding-bottom: 20px;
	font-size: 18px;
}

#home .carousel-control-prev,
#home .carousel-control-next{
  width: 8%;
}

#home .carousel-control-prev-icon:hover,
#home .carousel-control-next-icon:hover{
  color: white;
}



/*When screen width is less than 1000px */

@media only screen and (max-width: 1000px){
  .preloader{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .dot,.dot:after{
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  }
  .nowrap{
    padding-left: 0px;
  }
  .title-line, .title-name{
    margin-top: 3px;
    font-size: 32px;
  }
  #navbarSupportedContent{
    margin-right: 0px;
  }
  .nav-item{
    padding-left: 15px;
  }
  #home .carousel-item {
    min-height: 100%;
    transition: 0.5s;
  }


  #home .carousel-inner img{
    width: auto;
    opacity: 0.3;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #home .carousel-caption{
    align-items: center; 
    bottom: 220px;
  }

  #home .carousel-caption h1{
    font-weight: 650; 
    font-size: 35px;
  }

  #home .carousel-caption p{
    padding-top: 20px; 
    font-size: 16px;
  }
}


.get-started{
	display: inline-block;
	color: white;
	font-size: 17px;
	padding : 7px 30px 7px 30px;
	margin-top: 4px;
	border-radius: 50px;
	letter-spacing: 1px;
	background-color: #00b33c;
}

.get-started:hover{
	padding: 8px 31px 8px 31px;
	font-size: 18px;
	margin-top: 0px;
	background-color: white;
	color: #00b33c;
	text-decoration: none;
}


/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* About Us Section
--------------------------------*/

#about {
  letter-spacing: 0.2px;
  background: white;
  background-size: cover;
  padding-top: 40px;
  position: relative;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

.about-icon{
	font-size: 28px;
	padding-top: 3px;
	color: white;
}

#about .container {
	margin-top: 3%;
  position: relative;
  z-index: 10;
}

#about .about-col {
  border-style: none none none solid;
  border-color: #00b33c;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover .about-icon {
  color: #00b33c;
}

#about .about-col h6 {
  color: #000;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 20px 5px 20px;
  margin: -5px 0 0 0;
}

#about .about-col h6 a {
  color: #000;
}

#about .about-col h6 a:hover {
  color: #00b33c;
  text-decoration: none;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: #00b33c;
  text-decoration: none;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 2px 20px;
}

/* Skill Section
--------------------------------*/

#skills {
  padding-top: 80px;
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: .9s;
}
/*------------------------*/
/*Contact Us*/

#contact-image{
	font-size: 40px;
	color: #00b33c;
	padding-bottom: 10px;
}

#contact {
  padding: 80px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #00b33c;
  text-decoration: none;
  transition: 0.6s;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}


/*--------------footer------------------*/

#footer{
	background-color: #0d0d0d;
	color: white;
}
#footer-row{
	padding-top: 30px;
	padding-bottom: 30px;
}
.hrstyle{
	background-color: #0d0d0d;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 5px -10px #333333 inset;
}
hr{
	height: 1px;
  color: red;
  background-color: #333333;
  border: none;
}
.footer-title{
	letter-spacing: 1.1px;
	padding-top: 18px;
	padding-bottom: 14px;
	font-size: 20px;
  font-weight: 700;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul>li{
	padding-top: 12px;
}
ul>li>a{
	color: white;
	transition: 0.5s;
}
ul>li>a:hover{
	color: #00b33c;
	text-decoration: none;
}
#social-media{
	padding-top: 10px;
}
.instagram,.linkedin,.facebook,.twitter,.google-plus{
  color: white;
  margin-left: 7px;
  font-size: 18px;
  background-color: #333333;
  border-radius: 50%;
  padding:10px;
  padding-top: 5px;
  padding-bottom: 8px;
  transition: 0.5s;
}
.instagram:hover,.linkedin:hover,.facebook:hover,.twitter:hover,.google-plus:hover{
  color: white;
  background-color: #00b33c;
 }
.copyright{
	padding-top: 30px;
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
	width: 100%;
	height: 80px;
	background-color: black;
	color: white;
}